html, body 
{ 
  margin: 0px; 
  padding: 0px;
  overflow-x: hidden;
}

#title-box
{
  pointer-events: none; 
  font-family: 'Poppins', sans-serif; 
  font-size: 2.5em; 
  position: absolute; 
  margin-top: 17%; 
  text-align: center; 
  left: 0px; 
  right: 0px;
}

#info-box
{
  font-size: 1.2em; 
  border-top: 1px solid #E0E0E0; 
  font-family: 'Poppins', sans-serif; 
  background-color: #F7F7F7;
  padding-bottom: 40px;
}

table#country-list
{
  padding: 0px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 40px 0px;
}

table#country-list td
{
  padding: 0px;
  vertical-align: top;
}

.country
{
  margin: 5px;
  border: 0px solid black;
}

img.flag
{
  height: 30px;
  vertical-align: middle;
}

@media only screen and (max-device-width: 400px) {
  img.flag
  {
    height: 15px;
  }
}

#map 
{
  width: 85%;
  height: 85%;
  margin: auto;
  display: block;
}

.circlexx
{
  fill: #e0e0e0;
  opacity: 0;
  stroke: #000000;
  stroke-width: 0.5;
}

.subxx
{
  opacity: 0;
  stroke-width: 0.3;
}

.noxx
{
  fill: #e0e0e0;
  opacity: 0;
  stroke: #000000;
  stroke-width: 0.5;
}

.landxx
{
  fill: #e0e0e0;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.5;
}

.coastxx
{
  fill: #e0e0e0;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0.3;
}

.limitxx
{
  fill: #e0e0e0;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0;
}

.unxx
{
  fill: #e0e0e0;
  opacity: 0;
  stroke: #000000;
  stroke-width: 0.3;
}

.antxx
{
  fill: #e0e0e0;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 0;
}

:root
{
  --visited-country-fill: #FFDEA3;
}

/* Europe: 28 */
.gb, .dk, .de, .nl, .es, .pt, .fr, .be, .lu, .pl, 
.it, .sm, .va, .ch, .at, .cz, .sk, .gl, .no, .se, 
.ee, .fi, .ua, .gr, .tr, .hu, .is, .li
{
  fill: var(--visited-country-fill);
}

/* Africa: 13 */
.ma, .tn, .eg, .et, .ke, .ug, .tz, .mw, .zw, .zm, 
.bw, .na, .za 
{
  fill: var(--visited-country-fill);
}

/* Asia: 11 */
.ru, .in, .uz, .kz, .tj, .kg, .mn, .np, .th, .kh, 
.vn
{
  fill: var(--visited-country-fill);
}

/* North America: 10 */
.us, .ca, .mx, .bz, .gt, .hn, .ni, .cr, .pa, .tt
{
  fill: var(--visited-country-fill);
}

/* South America: 12 */
.ec, .co, .gf, .gy, .sr, .br, .pe, .ar, .uy, .bo, 
.cl, .py
{
  fill: var(--visited-country-fill);
}

/* Oceania: 2 */
.au, .nz
{
  fill: var(--visited-country-fill);
}