html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #F7F7F7;
}

#top {
    background-color: white;
}

#title-box {
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    position: absolute;
    margin-top: 17%;
    text-align: center;
    left: 0px;
    right: 0px;
}

@media only screen and (max-device-width:800px) {
    #title-box {
        font-size: 1.8em;
        margin-top: 10%;
    }

}

#info-box {
    font-size: 1.2em;
    border-top: 1px solid #E0E0E0;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 40px;
}

@media only screen and (max-device-width:800px) {
    #info-box {
        font-size: 1em;
    }

}

ul#country-list {
    column-count: 4;
    list-style: none;
    padding: 0px;
    margin-left: 8%;
    margin-right: 8%;
}

@media only screen and (max-device-width:800px) {
    ul#country-list {
        column-count: 2;
    }

}

ul#country-list a {
    text-decoration: none;
    color: black;
}

ul#country-list li {
    padding: 0px;
    vertical-align: top;
}

ul#language-list {
    padding: 0px;
    margin: auto;
    column-fill: auto;
    column-count: 2;
    list-style: none;
    width: 400px;
}

@media only screen and (max-device-width:800px) {
    ul#language-list {
        width: 300px;
    }

}

ul#language-list li {
    padding: 0px;
    vertical-align: top;
    height: 35px;
}

.country {
    margin: 5px;
    border: 0px solid black;
}

img.flag {
    height: 30px;
    vertical-align: middle;
}

@media only screen and (max-device-width:800px) {
    img.flag {
        height: 15px;
    }

}

a.image-link {
    text-decoration: none;
    padding-right: 15px;
}

.social-svg {
    width: 40px;
    height: 40px;
    fill: gray;
}

@media only screen and (max-device-width:400px) {
    .social-svg {
        width: 20px;
        height: 20px;
    }

}

#map {
    width: 85%;
    height: 85%;
    margin: auto;
    display: block;
}

.circlexx {
    fill: #e0e0e0;
    opacity: 0;
    stroke: #000000;
    stroke-width: 0.5px;
}

.subxx {
    opacity: 0;
    stroke-width: 0.3px;
}

.noxx {
    fill: #e0e0e0;
    opacity: 0;
    stroke: #000000;
    stroke-width: 0.5px;
}

.landxx {
    fill: #e0e0e0;
    fill-rule: evenodd;
    stroke: #ffffff;
    stroke-width: 0.5px;
}

.coastxx {
    fill: #e0e0e0;
    fill-rule: evenodd;
    stroke: #ffffff;
    stroke-width: 0.3px;
}

.limitxx {
    fill: #e0e0e0;
    fill-rule: evenodd;
    stroke: #ffffff;
    stroke-width: 0px;
}

.unxx {
    fill: #e0e0e0;
    opacity: 0;
    stroke: #000000;
    stroke-width: 0.3px;
}

.antxx {
    fill: #e0e0e0;
    fill-rule: evenodd;
    stroke: #ffffff;
    stroke-width: 0px;
}

/* Europe */
.gb, .dk, .de, .nl, .es, .pt, .fr, .be, .lu, .pl, .it, .sm, .va, .ch, .at, .cz, .sk, .gl, .no, .se, .ee, .fi, .ua, .gr, .tr, .hu, .is, .li, .ie, /* Africa */
.ma, .tn, .eg, .et, .ke, .ug, .tz, .mw, .zw, .zm, .bw, .na, .za, /* Asia */
.am, .ge, .az, .ru, .in, .uz, .kz, .tj, .kg, .mn, .np, .th, .kh, .vn, /* North America */
.us, .ca, .mx, .bz, .gt, .hn, .ni, .cr, .pa, .tt, /* South America */
.ec, .co, .gf, .gy, .sr, .br, .pe, .ar, .uy, .bo, .cl, .py, /* Oceania */
.au, .nz {
    fill: #FFDEA3;
}
